<%= link_to 'Patrons', '/patrons'%> 
<%= link_to 'Climbing Gyms', '/climbing_gym'%>
<%= link_to 'Sort Alphabetically', "/climbing_gym/#{@gym.id}/patrons/alpha_index"%>
<%= link_to 'Create Patron', "/climbing_gym/#{@gym.id}/patrons/new"%>

<% @patrons.each do |patron|%>
  <h2><%=patron.name%></h2>
  <p>Membership length: <%= patron.years_member%> years</p>
  <p>Belay Certified: <%= patron.belay_certified%></p>
<%end%>