<%= link_to 'Patrons', '/patrons'%> <%= link_to 'Climbing Gyms', '/climbing_gym'%>
<h1><%=@patron.name%></h1>
<p>Years a member: <%=@patron.years_member%></p>
<p>Belay Certified: <%=@patron.belay_certified%></p>