<h1>Climbing Gyms</h1>
<%= link_to 'Patrons', '/patrons' %>
<%= link_to 'New Climbing Gym', '/climbing_gym/new' %>
<ul>
  <% @climbing_gyms.each_with_index do |gym, index|%>
    <li id=gym-<%=index%>>
     <p> <%=gym.name%> <%= link_to "Update #{gym.name}", "/climbing_gym/#{gym.id}/edit" %></p>
      Created at: <%=gym.created_at%>
      <br>Location: <%= gym.city %></br>
    </li>
  <% end%>
</ul>