<h1>Climbing Gyms</h1>
<%= link_to 'Patrons', '/patrons'%>
<ul>
  <% @climbing_gyms.each_with_index do |gym, index|%>
    <li id=gym-<%=index%>>
      <%=gym.name%>
      Created at: <%=gym.created_at%>
      <br>Location: <%= gym.city %></br>
    </li>
  <% end%>
</ul>